[Unit]
Description=WINTER Image Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=winter
WorkingDirectory=/home/winter/GIT/winter-image-daemon
ExecStart=/home/winter/GIT/winter-image-daemon/imagedaemon/services/linux/run_imagedaemon.sh \
  --cameras winter,qcmos,summer-ccd,pirt \
  -n 192.168.1.10 \
  --logfile /home/winter/data/imagedaemon.log
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
